.main-crud {
    padding-left: calc(300px + 2rem);
    padding-right: 2rem;
}

.sidenav-crud {
    margin-top: 64px;
}

@media only screen and (max-width : 992px) {
    .main-crud {
        padding-left: 0;
    }
}
