<Components.UI.Modal.Modal Title="@ModalTitle" ModalId="@ModalId">
    <Body>
        @ChildContent
    </Body>
    <Footer>
        <button class="btn waves-effect waves-light green" type="button">Continue</button>
        <button class="btn waves-effect waves-light red" type="button" data-micromodal-close aria-label="Close this dialog window">Close</button>
    </Footer>
</Components.UI.Modal.Modal>