<Components.UI.Modal.Modal Title="@ModalTitle" ModalId="@ModalId">
    <Body>
        @ChildContent
    </Body>
    <Footer>
        <button class="btn waves-effect waves-light grey" type="button" data-micromodal-close aria-label="Close this dialog window">Cancel</button>
        <button class="btn waves-effect waves-light red" type="button" @onclick=HandleRemove>Delete</button>
    </Footer>
</Components.UI.Modal.Modal>