<Components.UI.Modal.Modal Title="@ModalTitle" ModalId="@ModalId">
    <Body>
        @ChildContent
    </Body>
    <Footer>
        <Button Color=ButtonColor.Secondary data-micromodal-close AriaLabel="Close this dialog window">Cancel</Button>
        <Button Color=ButtonColor.Red Clicked=@HandleRemove>Delete</Button>
    </Footer>
</Components.UI.Modal.Modal>