@page "/crud/quizvar/{ViewMode?}"
@using Licenta.UI.Components.Backoffice.QuizVariant
@inherits BaseCrudPage

<CrudPageLayout>
    @if (string.IsNullOrEmpty(ViewMode))
    {
        <QuizVariantAll />
    }
    else if (ViewMode == "one")
    {
        <h1>one</h1>
    }
    else
    {
        <h1> other </h1>
    }
</CrudPageLayout>