 <form class="formShowOne">
     @ChildContent
    <div class='row  d-flex gap-2 justify-end'>
            <a href=@GetAllUrl() class="col btn waves-effect red">Cancel</a>
            <button type="button" class="col btn waves-effect">Save</button>
    </div>
</form>