@using Licenta.UI.Component.Backoffice.Shared
@inherits BaseShowOne

@if (Dto != null)
{
    <div class='row'>
        <div class='input-field col s6'>
            <input @bind-value=Dto.Name placeholder="Name"
                   id="Name" type="text" class="validate"
                   required disabled=@Disabled>
            <label class="active" for="Input">Name</label>
        </div>
        @if (IsNew == false)
        {
            <BtnUpdate OnUpdate=@HandleSaving />
        }
    </div>
}