<ul id="slide-out" class="sidenav sidenav-fixed sidenav-crud">
    @foreach (var index in Enumerable.Range(0, _navItems.Length))
    {
        <li>
            <a href="crud/@_navItems[index][1]"> @_navItems[index][0] </a>
        </li>
    }
</ul>


<main class="main-crud">
        @ChildContent
</main>