

<!-- Comp -->
<div class="CourseComp">

    <!-- top bar -->
    <div class="TopBar">
        <!-- course name -->
        <Badge BadgeStyle="BadgeStyle.Dark">
            <h5 class="mb-0 CourseName">
                @Course.Name
            </h5>
        </Badge>
        <div class="flex-grow gap-2">
            <Components.UI.Stepper.Steps>
                <Items>
                    <Step index=1 currentIndex=@CurrentStep />
                    <Step index=2 currentIndex=@CurrentStep />
                    <Step index=3 currentIndex=@CurrentStep />
                    <Step index=4 currentIndex=@CurrentStep isLast />
                 </Items>
             </Components.UI.Stepper.Steps>
         </div>
     </div>
     <div class="content">
         @if(CurrentStep == 1)
        {
            <TheoryPanel/>
        }else if(CurrentStep == 2)
        {
            <QuizPanel/>
        }
        else
        {
            <CodeRunnerPanel/>
        }
    </div>
     <div class=" d-flex justify-content-center gap-2">
         <Button Click="@HandlePrev">Inapoi</Button>
         <Button Click="@HandleNext">Inainte</Button>
     </div>
 </div>

