@inherits BaseLicentaComp<ComponentResource>

<div class="container-md">

    <h3>Courses</h3>


    <div class="row">
        @foreach (var course in courses)
        {
            <div class="col-md-6">
                <Card Class="CourseCard" Clicked="() => RedirectToCourse(course)">
                    <CardBody>
                        <h5 class="mb-0"> @course.Name </h5>
                        <small class=" mb-0">
                            @course.LastAccesedLesson?.Name 
                            - module @course.LastAccesedLesson?.Module 
                            - step @course.LastAccesedLesson?.Step
                        </small>
                    </CardBody>
                </Card>
            </div>
        }
    </div>
</div>
