@using Licenta.Components.UI.Enums;
<div class="d-flex justify-content-center align-items-center w-100 h-100 text-danger @Class">
    
    <Heading Size="HeadingSize.Is5" Class="fw-bold">
        @if (!string.IsNullOrEmpty(Label))
        {
            @Label
        }
        else
        {
            @ChildContent
        }
    </Heading>
</div>  