@using Components.UI;
@using Licenta.Sdk.Localization;
@inherits BaseLicentaComponent<ComponentsResource>

@inject NavigationManager NavManager;

<li class="nav-heading">Shared</li>

@foreach (var menuItem in MenuItem.Items)
{
    <li class="nav-item">
        <a id="@menuItem.ElementId" class="nav-link collapsed" href="@menuItem.Url">
            <i class="@menuItem.Icon"></i>
            <span>@Localizer[menuItem.DisplayName]</span>
        </a>
    </li><!-- End F.A.Q Page Nav -->
}


