@using Licenta.UI.Menu
@inherits BaseLicentaComp<ComponentResource>

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/">
                <i class="bi bi-grid"></i>
                <span>Acasa</span>
            </a>
        </li><!-- End Dashboard Nav -->
        @foreach (var item in _mainMenu.Items)
        {
            <li class="nav-item">
                <a id="@item.ElementId" class="nav-link collapsed" href="@item.Url">
                    <i class="@item.Icon"></i>
                    <span>@Localizer[item.DisplayName]</span>
                </a>
            </li>
        }
      
        @if (_sharedMenu?.Items.Count > 0 )
        {
        <SharedMenu MenuItem=@_sharedMenu />
        }
    </ul>

</aside><!-- End Sidebar-->
@code {
    private MenuContributor _menuContributor { get; set; } = new MenuContributor();
    [Inject] private NavigationManager _navManager { get; set; } = default!;
    private ApplicationMenu _sharedMenu = new();
    private ApplicationMenu _mainMenu = new();


    protected override async Task OnInitializedAsync()
    {
        _sharedMenu =  _menuContributor.GetSharedMenu(_navManager.Uri);
        _mainMenu = _menuContributor.GetMainMenu();
        await base.OnInitializedAsync();
    }

}