<!-- ======= Footer ======= -->

<footer id="footer" class="footer">
    <div class="copyright">
        2023 © Licenta by<a href="#" class="hover:underline">&nbsp;Gusatu Cristian Alexandru</a>
    </div>
</footer>