@using Licenta.UI.Shared.Menu
@using Licenta.UI.Shared.Navbar
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Web

@inherits LayoutComponentBase

<PageTitle> Licenta </PageTitle>

<Header />
<Sidebar />
<main id="main" class="main">

    <section class="section">
        @if (Body != null)
        {
            @Body
        }
        else
        {
            <p> No body </p>
        }   
    </section>
</main>
<Footer />
