<div class="error-404 d-flex flex-column align-items-center justify-content-center">
    <h1>404</h1>
    <h2>The page you are looking for doesn't exist.</h2>
    <a class="btn" href="/">Back to home</a>
    <img src="img/not-found.svg" class="" style="height:45vh;" alt="Page Not Found">
</div>