@using Licenta.UI.Component.Backoffice.Shared
@inherits BaseShowOne

@if (dto != null)
{
    <div class='row'>
        <div class='input-field col s6'>
            <input @bind-value=dto.Text placeholder="Name"
                   id="Text" type="text" class="validate"
                   required disabled=@Disabled>
            <label class="active" for="Text">Text</label>
        </div>
        <div class='input-field col s6'>

            <label>
                <input type="checkbox" @bind-value=@dto.IsCorrect disabled=@Disabled />
                <span>IsCorrect</span>
            </label>
        </div>
        @if (IsNew == false)
        {
            <BtnUpdate OnUpdate=@HandleSaving />
        }
    </div>
}

