<!-- data-position can be : bottom, top, left, or right -->
<!-- data-tooltip defines the tooltip text -->
<a class="btn tooltipped" data-position="bottom" data-tooltip="I am a tooltip">Hover me!</a>