@inherits BaseLicentaComp

<div class="row btn-group-code">
    <button class="btn waves-effect waves-light" @onclick="OnRunCode">
        <i class="material-icons right">send</i>
        Run code
    </button>
    <button class="btn waves-effect waves-light" @onclick="OnSubmitCode">
        <i class="material-icons right">backup</i>
        Submit Code
    </button>
</div>