<div class="row">
    <div class="input-field col s12">
        <textarea id="code" class="validate" style="height:250px" @onchange=HandleChange >
            @Code
        </textarea>
        <label for="code" class="" ></label>
    </div>
</div>