<div class="row">
    <div class="input-field col s12">
        <input placeholder="Custom Input" id="custom_input" type="text" class="validate" @onchange="HandleValueChanged" value="@Value">
        <label class="active" for="custom_input">Custom Input</label>
    </div>
</div>