@if (_fullLessonDto == null)
{
    <h1> Please select a lesson</h1>
}
else
{
    <h1> @_fullLessonDto.Name</h1>
    <p> @_fullLessonDto.Body</p>

    @foreach (var exercise in _fullLessonDto.Exercises)
    {
        if (exercise.IsCodeRunner)
        {
            <ProgrammingLangSelect @bind-Language=_selectedLanguage />
            <CodeEditor />
            @if (_codeResult != null)
            {
                <ResultCodeRun CodeResult=@_codeResult />
            }

            <BtnGroupCodeRun
                OnRunCode="HandleRunCode"
                OnSubmitCode="HandleSubmitCode" />

          
        }
        else
        {
            <h1>quiz</h1>
        }
    }

}