
code {
    background-color: #272822;
    color: #f8f8f2;
    border-radius: 0.3rem;
    padding: 4px 5px 5px;
    white-space: nowrap;
}

pre code {
    white-space: inherit;
}

pre {
    background-color: #272822;
    padding: 5px;
    border-radius: 0.3em;
    max-height: 150px;
    overflow: auto;
}
