<div>
    <div class='row'>
        <h1>Profil</h1>
    </div>
    <ProfileData @bind-User="User" Disabled=false/>
        <div class='row d-flex justify-end gap-2'>
            <a class="waves-effect waves-light btn green" @onclick="HandleSave">Save</a>
        </div>
</div>