<div>
    <div class='row'>
        <h1>Profil</h1>
    </div>
    <ProfileData User="User" Disabled=false/>
        <div class='row d-flex justify-end gap-2'>
            <a class="waves-effect waves-light btn red">Cancel</a>
            <a class="waves-effect waves-light btn green">Save</a>
        </div>
</div>