<div class="d-flex flex-col gap-2">
    <h1> Notifications </h1>
    <label>
        <input type="checkbox" checked="" />
        <span>Changes made to your account</span>
    </label>
    <label>
        <input type="checkbox" />
        <span>Information on new products and services</span>
    </label>
    <label>
        <input type="checkbox" />
        <span> Marketing and promo offers</span>
    </label>
    <label>
        <input type="checkbox" checked="" disabled="" />
        <span>  Security alerts</span>
    </label>
</div>