<div class="d-flex flex-col gap-2">
    <h1> Notifications </h1>
    @if (_optInNotificationDto != null)
    {
        <CheckBox @bind-Checked=_optInNotificationDto.WhenAccountChanges Text="Changes made to your account" />
        <CheckBox @bind-Checked=_optInNotificationDto.WhenNewProducts Text="Information on new products and services" />
        <CheckBox @bind-Checked=_optInNotificationDto.WhenMarketingAndPromo Text="Marketing and promo offers" />
        <CheckBox @bind-Checked=_optInNotificationDto.WhenSecurityAlerts Text="Security alerts" Disabled=true />
        <div class='row d-flex justify-end gap-2'>
            <a class="waves-effect waves-light btn green" @onclick="HandleSave">Save</a>
        </div>
    }
</div>