@inherits BaseLicentaComp

<div class="row btn-group-code">
    <Button Clicked="OnRunCode">
        <i class="material-icons right">send</i>
        Run code
    </Button>
    <Button Clicked="OnSubmitCode">
        <i class="material-icons right">backup</i>
        Submit Code
    </Button>
</div>