@inherits BaseLicentaComp
@using Licenta.SDK.Models.Dtos
<ProgrammingLangSelect @bind-Language=_selectedLanguage />
<p style="font-weight: bold;font-size: 1.5rem;">@Exercise.Enunciation</p>
<CodeEditor  />
<CustomInput @bind-Value=@_customInput />
@if (_codeResult != null)
{
    <ResultCodeRun CodeResult=@_codeResult />
}

<SubmitResultComp Exercise="Exercise" Language=@CodeLanguage.Cpp 
    @ref="@submitResultComp"/>


<BtnGroupCodeRun OnRunCode="HandleRunCode"
                 OnSubmitCode="OnSubmitCode" />