@inherits BaseLicentaComp;

@if (ActiveLessonSummarry == null)
{
    <h1> Please select a lesson</h1>
}
else
{
    <h1> @ActiveLessonSummarry.Name</h1>
    <p> @ActiveLessonSummarry.Body</p>

    @foreach (var exercise in ActiveLessonSummarry.Exercises)
    {
        if (exercise.IsCodeRunner)
        {
            <CodeExercisePanel Exercise="@exercise"/>
        }
        else
        {
            <QuizExercisePanel Exercise="@exercise"/>
        }
    }

}