@inherits BaseLicentaComp

<Row Class="select-language-row">
    <div class="select-language-innerrow">
        <Select Class="browser-default" Changed="HandleLanguageChanged">
            <Options>
                <Option Value="0" Text="Cpp" />
                <Option Value="1" Text="Python" />
            </Options>
        </Select>
        <Label Text="Choose your language"></Label>
    </div>
</Row>