@inherits BaseLicentaComp

<div class="row select-language-row">
    <div class="select-language-innerrow">
        <select class="browser-default" @onchange="HandleLanguageChanged">
            <option value="0">Cpp</option>
            <option value="1">Python</option>
        </select>
        <label>Choose your language</label>
    </div>
</div>