@page "/login"
@inherits BaseLicentaComp
<main>
    <center class="verticallyCenteredBody bodyWithoutNavHeight">
        <div class="container containerLogin">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form class="col s12">
                    <Row>
                        <div class='col s12'>
                        </div>
                    </Row>

                    <Row>
                        <h4>Login</h4>
                        <InputField ColSize="ColSize.S12">
                            <Input Placeholder="email" Id="email" InputType="@InputType.Email" Class="validate"
                                   required/>
                            <Label Class="active" For="email" Text="Email"/>
                        </InputField>
                    </Row>

                    <Row>
                        <InputField ColSize="ColSize.S12">
                            <Input Placeholder="password" Id="password" InputType="@InputType.Password"
                                   Class="validate" minlength="6" required/>
                            <Label Class="active" For="password" Text="Password"/>
                        </InputField>
                        <label style='float: right;'>
                            <a class='teal-text' href='#!'><b>Forgot Password?</b></a>
                        </label>
                    </Row>

                    <br />
                    <center>
                        <Row>
                            <Button Class='col s12' Size=@ButtonSize.Large OnJsClick="Auth.handleLogin()">Login</Button>
                                <span id="error-login" class="red-text"> </span>
                        </Row>
                    </center>
                    <a href="register">Create account</a>
                </form>
            </div>
        </div>
    </center>

</main>
