@page "/profile"
@using Licenta.UI.Component.Profile
@using Microsoft.AspNetCore.Components.Authorization

<div class="container">
    <AuthorizeView>
        <Authorized>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#overview">Overview</a></li>
                        <li class="tab col s3"><a href="#editProfile">Edit Profile</a></li>
                        <li class="tab col s3"><a href="#notifications">Notifications</a></li>
                        <li class="tab col s3"><a href="#changePassword">Change Password</a></li>
                    </ul>
                </div>
                <div id="overview" class="col s12">
                    <OverviewProfileData User="@ConvertToDto(context.User)" />
                </div>
                <div id="editProfile" class="col s12">
                    <EditProfileData User="@ConvertToDto(context.User)" />
                </div>
                <div id="notifications" class="col s12">
                    <NotificationsSettings/>
                </div>
                <div id="changePassword" class="col s12">
                   <ResetPassword/>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>

</div>