@page "/register"
@inherits BaseLicentaComp

<main>
    <center class="verticallyCenteredBody bodyWithoutNavHeight">
        <div class="container containerRegister">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form class="col s12" id="reg-form">
                    <h4>Register</h4>
                    <div class="select-role-row">
                        <Button Class=@("col s12 "+ (_activeIndex == 0 ? "btn-active" :"btn-inactive"))
                        Size="ButtonSize.Large"
                        Clicked="()=>SelectRole(0)">
                            Student
                        </Button>
                        <Button Class=@("col s12 " + (_activeIndex == 1 ? "btn-active" :"btn-inactive"))
                                Size="ButtonSize.Large"
                                Clicked="()=>SelectRole(1)">
                            Teacher
                        </Button>
                    </div>
                    <Row>
                        <InputField ColSize="ColSize.S6">
                            <Input Placeholder="Nume" Id="first_name" Class="validate" 
                                required @bind-Value="reqDto.Firstname">
                            <Label Class="active" For="first_name" Text="First Name"/>
                        </InputField>
                        <InputField ColSize="ColSize.S6">
                            <Input Placeholder="Nume" Id="last_name" Class="validate"
                                   required @bind-Value="reqDto.Lastname">
                            <Label Class="active" For="last_name" Text="Last Name"/>
                        </InputField>
                    </Row>
                    <Row>
                        <InputField ColSize="ColSize.S12">
                            <Input Placeholder="email" Id="email" InputType="InputType.Email" Class="validate"
                                   required @bind-Value="reqDto.Email">
                            <Label Class="active" For="email" Text="Email" />

                        </InputField>
                    </Row>
                    <Row>
                        <InputField ColSize="ColSize.S12">
                            <Input Placeholder="password" Id="password" InputType="InputType.Password" Class="validate" minlength="6"
                                   required @bind-Value="reqDto.Password">
                            <Label Class="active" For="password" Text="Password"/>
                        </InputField>
                    </Row>
                    <Row>
                        <InputField ColSize="ColSize.S12">
                            <center>
                                <Row>
                                    <Button Clicked="@HandleRegister" Class='col s12' Size="ButtonSize.Large">
                                        Register
                                    </Button>
                                    @if (_errorMsg != string.Empty)
                                    {
                                        <span class="red-text"> @_errorMsg</span>
                                    }
                                </Row>
                            </center>
                            <a href="login" >Already have an account?</a>
                        </InputField>
                    </Row>
                </form>

            </div>
        </div>
    </center>
</main>
