.col.s6 > .btn {
    width: 100%;
}

.row {
    margin-bottom: 10px;
}

.ngl {
    position: absolute;
    top: -20px;
    right: -20px;
}

.verticallyCenteredBody .containerRegister {
    margin-top: -32px;
}

.select-role-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1.52rem 0 .912rem 0;
}

