@inherits BaseShowAll

<table class="table table-sm table-striped" id="@EltId">
</table>

<ModalOneLayout ModalTitle="Delete student"
                ModalId=@($"{_modalRemoveId}")
                OnRemove=HandleRemove>
    <p> Are you sure? </p>
</ModalOneLayout>