
<li class="StepperElt">
    @if (isCompleted())
    {
        <i class="@getTextStyle() bi bi-check-circle-fill" style="font-size:1.5rem;">
            @ChildContent
        </i>
    }
    else
    {
        <span class="stepperNumber @getTextStyle() ">
            <span>@index</span>
            @ChildContent
        </span>
    }
</li>
@if (!isLast)
{
    <li class="StepDash list-unstyled"></li>
}
