@using Licenta.UI.Component.Backoffice.Shared
@inherits BaseShowAll

<div class="mt-2">
    <Button Class="modal-trigger" data-target=@_modalCreateId Color="ButtonColor.Green"> New exercise </Button>
</div>
<table class="table table-sm table-striped" id="@EltId">
</table>


<ModalRemoveItem Modaltitle="Delete course"
                 ModalRemoveId="@_modalRemoveId"
                 HandleRemove=@HandleRemove />

<ModalAddItem ModalTitle="Create course"
              ModalCreateId="@_modalCreateId"
              HandleCreate="HandleCreate">
    <ExerciseOne IsNew=@true @bind-Dto=NewDto />
</ModalAddItem>