<ul id="@ElementId" class="dropdown-menu dropdown-menu-end dropdown-menu-arrow @Class">

    @if (HeaderContent != null)
    {
        <li class="dropdown-header">
            @HeaderContent
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
    }

    <div style="max-height:30vh;overflow:auto;">
    @Items
    </div>

    @if (DropdownFooter != null)
    {
        <li>
            <hr class="dropdown-divider">
        </li>
        <li class="dropdown-footer 2">
            @DropdownFooter
        </li>
    }
</ul>
