@page "/courses"
@inherits BaseLicentaComp

<div class="container">
    <h1> Courses: </h1>
    <div class="grid-courses">
        @foreach (var course in _courses)
        {
            <CardReveal CardTitle="@course.Name" AnchorText="Către curs" AnchorHref=@($"course/{course.Id}")/>
        }
    </div>
</div>
