@page "/course/{Id:int}"
@using Licenta.UI.Components.Courses

<ul id="slide-out" class="sidenav sidenav-fixed sidenav-course">
    <li>
        <div class="user-view">
            <div class="background background-course"></div>
            <p class="course-name"> @_fullCourseDto.Name </p>
        </div>
    </li>
    <li><div class="divider"></div></li>
    <li>
        <ul class="collapsible">
            @foreach (var module in _fullCourseDto.Modules)
            {
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>@module.Name</div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            @foreach (var lesson in module.Lessons)
                            {
                                <li class="collection-item"
                                @onclick="()=>HandleSelectLesson(lesson)">@lesson.Name</li>
                            }
                        </ul>
                    </div>
                </li>
                <li><div class="divider"></div></li>
            }
        </ul>
    </li>


</ul>
<div class="container-course">
    <LessonPanel ActiveLessonSummarry="@_activeLesson" />
</div>