@page "/test"
@inherits BaseLicentaComp
<Components.UI.Modal.Modal Title="Title">
    <Body>
        <p> Help </p>
    </Body>
    <Footer>
        <button class="btn waves-effect waves-light green" type="button" >Continue</button>
        <button class="btn waves-effect waves-light red" type="button" data-micromodal-close aria-label="Close this dialog window">Close</button>
    </Footer>
</Components.UI.Modal.Modal>


<button style="margin-top:20px" data-micromodal-trigger="modal-1">
    press me
</button>

<button style="margin-top:20px" onclick="Main.triggerAreYouSure()">
    press me2
</button>

@Localizer["key_test"]