@page "/";
@using Licenta.Sdk.Identity;
@using Licenta.Sdk.Localization;
@using Licenta.UI.Shared.Menu



<PageTitle>Home</PageTitle>

<div class="min-h-container">
    <AuthorizeView>
        <Authorized>
            <div class="indexContainer">
                <h1 class="welcomeText">Bine ai revenit, @ClaimHelper.GetGivenName(context.User)!</h1>
                <GridMenuCards  TLocalizer="@ComponentsResource"/>
            </div>
        </Authorized>
    </AuthorizeView>
    
</div>
