@page "/";
@using Licenta.UI.Comps.Index


<PageTitle>Home</PageTitle>

<div class="container-md">
    <h1>Bine ai revenit, Gandolh</h1>
    <div class="container-grid">
        <CourseList/>
        <UpcomingDeadlines/>
        <LastAccesed/>
    </div>
</div>