@page "/";
@using Licenta.Sdk.Identity;
@using Licenta.Sdk.Localization;
@using Licenta.UI.Comp.Index
@using Licenta.UI.Shared.Menu



<PageTitle>Home</PageTitle>

    <AuthorizeView>
        <Authorized>
        <div class="min-h-container indexContainer container-md">
                <h1 class="welcomeText">Bine ai revenit, @ClaimHelper.GetFullName(context.User)!</h1>
                <div class="row">
                   <div class="col-md-4"> <CourseList /> </div>
                   <div class="col-md-4"> <UpcomingDeadlines /> </div>
                   <div class="col-md-4"> <LastAccesed /> </div>
                </div>

            </div>
        </Authorized>
    </AuthorizeView>

