@inherits BaseShowAll

<table class="table table-sm table-striped" id="@EltId">
</table>

<ModalOneLayout ModalTitle="Code eval Modal" ModalId=@($"{_modalRemoveId}")>
    <p> hello </p>
</ModalOneLayout>
