@inherits BaseShowAll

<table class="table table-sm table-striped" id="@EltId">
</table>
<ModalOneLayout ModalTitle="Delete module"
                ModalId=@($"{_modalRemoveId}")
                OnRemove=HandleRemove>
    <p> Are you sure? </p>
</ModalOneLayout>