@using System.Globalization;

<div class="me-3 " style="font-size:15px;">
    <h1> Setări </h1>
    <InputField Class="language-picker-field" ColSize="ColSize.S12">
        <Select Value="@_cultureName" Changed=HandleChangeCulture>
            <Options>
                @foreach (var culture in suportedCultures)
                {
                    <Option Value="@culture.Name" Text="@culture.TwoLetterISOLanguageName" />
                }
            </Options>
        </Select>
        <Label>Language:</Label>
    </InputField>
</div>