<div class="card @Class" @onclick=@Clicked>
    <CardBody>
        @CardBody
    </CardBody>
    @if (CardFooter != null)
    {
        <CardFooter>
            @CardFooter
        </CardFooter>
    }
</div>