
<div class="card-panel @Class">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
        <span class="white-text">
            @Text
        </span>
        }
</div>
