@inherits BaseShowOne

@if (dto != null)
{    
    <form class="formShowOne">
        <div class='row'>
            <div class='input-field col s6'>
                <input @bind-value=dto.Enunciation placeholder="Enunciation"
                       id="Enunciation" type="text" class="validate"
                       required disabled=@Disabled>
                <label class="active" for="Input">Enunciation</label>
            </div>
            <div class='input-field col s6'>
                <input @bind-value=dto.SampleInput placeholder="SampleInput"
                       id="SampleInput" type="text" class="validate"
                       required disabled=@Disabled>
                <label class="active" for="Input">SampleInput</label>
            </div>
        </div>
    </form>

    
    
}