@using Licenta.UI.Component.Backoffice.Shared
@inherits BaseShowOne

@if (dto != null)
{
    <div class='row'>
        <div class='input-field col s6'>
            <input @bind-value=dto.Name placeholder="Name"
                   id="Name" type="text" class="validate"
                   required disabled=@Disabled>
            <label class="active" for="Input">Name</label>
        </div>
        </div>
    <div class='row'>
        <div class='input-field col s12'>
            <label class="active" >Body</label>
            <div id="@BodyRichEditorId">
                <p>Hello World!</p>
                <p>Some initial <strong>bold</strong> text</p>
                <p><br /></p>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class='input-field col s6'>
            <AutoComplete AutocompleteId="autocomplete-module-one" Label="Course" Data="_autoCompleteData" />
        </div>
    </div>
    @if (IsNew == false)
    {
        <BtnUpdate OnUpdate=@HandleSaving />
    }
}
