<ModalOneLayout ModalTitle="@ModalTitle"
                ModalId=@ModalCreateId>
        <Body>
            @ChildContent
        </Body>
    <Footer>
        <Button Class="modal-close" Color=ButtonColor.Secondary AriaLabel="Close this dialog window">Cancel</Button>
        <Button Color=ButtonColor.Green Clicked=@HandleCreate>New</Button>
    </Footer>
</ModalOneLayout>