@inherits BaseShowOne

@if (dto != null)
{
    <ShowAllLayout OnSaving=HandleSaving>
        <div class='row'>
            <div class='input-field col s6'>
                <input @bind-value=dto.Text placeholder="Name"
                       id="Text" type="text" class="validate"
                       required disabled=@Disabled>
                <label class="active" for="Text">Text</label>
            </div>
            <div class='input-field col s6'>
                <input @bind-value=dto.IsCorrect placeholder="IsCorrect"
                       id="IsCorrect" type="text" class="validate"
                       required disabled=@Disabled>
                <label class="active" for="IsCorrect">IsCorrect</label>
            </div>
        </div>
    </ShowAllLayout>
}Text

