<!-- ======= Footer ======= -->

<footer id="footer" class="footer">
    <div class="copyright">
        2023 © CertEntTrust by<a href="#" class="hover:underline">&nbsp;CertDigital</a>
    </div>
</footer>