@inherits BaseLicentaComp<ComponentResource>

<Card Class="h-100">
    <CardBody>
        <h3>Cursuri</h3>
        <ListGroup>
            @foreach (var course in _courses)
            {
                <ListGroupItem>@course</ListGroupItem>
            }
        </ListGroup>
    </CardBody>

</Card>