.DeadlineItem::before {
    display: flex;
    line-height: 1.2;
    height: 1.25rem;
    align-items: center;
    content: "\f28a";
    font-size: 0.9rem;
}

.DeadlineItem{
    display:flex;
    gap:0.5rem;
}