@inherits BaseLicentaComp<ComponentResource>

<li class="LastAccesedItem bi">
    <div class="flex-grow">
        <h5 class="mb-0"> @AccesedLesson.Name</h5>
        <p class="mb-0">
            module @AccesedLesson.Module 
            - step @AccesedLesson.Step</p>
        <small class="text-muted">@courseName</small>
    </div>
</li>
