@using Licenta.SDK.Services
@using Microsoft.AspNetCore.Components.Authorization

<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">
            <img src="imgs/logo.gif" width="48" height="48">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
                <CascadingAuthenticationState>
                    <AuthorizeView>
                        <Authorized>
                        <li><a href="courses">Cursuri</a></li>
                        <li style="display: flex;align-items: center;">
                            <ProfileCard 
                                Fullname=@ClaimHelper.GetFullName(context.User)
                                Email=@ClaimHelper.GetEmail(context.User) />
                        </li>
                        <li>
                            <button class="waves-effect waves-light btn-small" onclick="Main.handleLogout()">Log out</button>
                        </li>

                        </Authorized>
                        <NotAuthorized>
                              <li>
                            <a style="margin-left:0px;margin-right:5px;" href="login" class="waves-effect waves-light btn-small">Login</a>
                            <a style="margin-left:0px;margin-right:0px;" href="register" class="waves-effect waves-light btn-small">Register</a>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </CascadingAuthenticationState>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="courses">Cursuri</a></li>
</ul>