@inherits BaseLicentaComp

<div class="username-container">
    <div class="profile-container">
        <div class="profile-img"></div>
        <div class="profile-description">
            <p class="user-title">@Fullname</p>
            <p class="username">@Email</p>
        </div>
    </div>
</div>