<li>
    <a style="margin-left:0px;margin-right:5px;" href="login" class="waves-effect waves-light btn-small">Login</a>
    <a style="margin-left:0px;margin-right:0px;" href="register" class="waves-effect waves-light btn-small">Register</a>
</li>